article, header, nav, aside, section, footer {
  background: hsla(200, 30%, 30%, .4);
}

body > article {
  width: 1024px;
  margin: 0 auto;
}

table{
  border-collapse: collapse;
  border: 1px solid black;
  display: none;
}

table td{
  border: 1px solid black;
}

article article {
  overflow: hidden;
  width: 750px;
  margin: 20px 0;
  padding: 5px;
}

aside {
  width: 150px;
  float: left;
}

section {
  float: left;
  width: 1024px;
}

#loading, #no-results, #resultsTable {
  display: none;
}
